/* .landing-container {
  margin: 5rem 0rem;
} */

.greeting {
  font-size: 1.9rem;
  font-family: "open sans", sans-serif;
  text-align: left;
  line-height: 2.2rem;
  background-color: #222;
  color: #fff;
}

.title {
  font-family: "poppins", sans-serif;
  font-size: 4.2rem;
  text-align: left;
  line-height: 4.2rem;
  background-color: #222;
  color: #fff;
}

.position {
  color: #ffb400;
  background-color: #222;
}

.description {
  font-family: "poppins", sans-serif;
  font-size: 1.5rem;
  text-align: left;
  line-height: 3.2rem;
  color: #fff;
  background-color: #222;
}

.btn-secondary {
  background-color: #222;
  color: #ffb400;
  border: 2px solid #ffb400;
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: 1.4rem;
  margin-left: 1rem;
}

.profile-container {
  background-color: #222;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-right: 10rem;
}

.img-container {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 70%;
  border-radius: 70%;
  border: 2px solid #ffb400;
}

.about-img {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 45%;
  }
  /* .title {
    line-height: 1rem;
  } */
  .profile-container {
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 635px) {
  html {
    font-size: 45%;
  }
  .grid-2 {
    grid-template-columns: 1fr;
  }
  .profile-container {
    padding: 4rem;
  }
  .img-container img {
    width: 60%;
  }
  .title {
    line-height: 8rem;
  }
  .container {
    /* height: 100vh !important; */
  }
}

@media only screen and (max-width: 376px) {
  html {
    font-size: 30%;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }
  .profile-container {
    padding: 5rem 2rem;
  }
  /* .container {
    height: 50vh;
  } */
}
