.project-container {
  /* height: 100vh; */
  background-color: #222;
  padding: 10rem 2rem;
}

.project-title {
  font-family: "poppins", sans-serif;
  font-size: 5.5rem;
  text-align: center;
  line-height: 6.6rem;
  color: white;
}

.hightlight {
  color: #ffb400;
}

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* width: 80%; */
  /* max-width: 800px; */
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
  row-gap: 2rem;
  cursor: pointer;
}

.project-card {
  flex: 1;
  flex: 0 0 calc(33.33% - 10px);
  padding: 0.5rem;
  /* border: 1px solid #ccc; */
  text-align: center;
  position: relative;
}

.project-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.project-card:hover .overlay {
  opacity: 1;
}

.project-card:hover .overlay h1 {
  margin-top: 1rem;
  color: white;
}

.project-card:hover .overlay p {
  margin-top: 3rem;
  font-size: 1.5rem;
  color: black;
  padding: 2rem;
  margin: 1rem;
  font-weight: bold;
  background-color: #ffb400;
}

@media only screen and (max-width: 790px) {
  html {
    font-size: 40%;
  }

  .project-container {
    /* height: 0vh; */
    padding: 5rem 3rem;
    margin-top: 3rem;
  }

  .project-card {
    flex: 0 0 calc(50.33% - 10px);
  }

  .project-title {
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 537px) {
  .project-card {
    flex: 0 0 calc(99.33%);
  }

  .project-title {
    margin-top: 6rem;
  }
  /* .project-container {
  } */
}
