@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #222;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 5rem 2rem;
  height: 100vh;
}

.grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: 0.7fr 1fr;
}

.btn-primary {
  background-color: #ffb400;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-family: "poppins", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 3rem;
}
